.content {
    text-align: left;
    display: flex;
    align-content: start;
    margin-bottom: 3.5rem;
}

.profile {
    margin-right: 0.875rem;
    margin-bottom: 0;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.description {
    max-width: 310px;
    font-size: 1.05rem;
}
