.title {
  font-size: 2rem;
  line-height: 2.625rem;
  margin: 0;
  box-shadow: none;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.625rem;
}
