.app {
  text-align: center;
}

.mainLink {
  color: rgba(0,0,0,0.7);
}

.mainLink > a {
  color: inherit;
}

.content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
  box-sizing: inherit;
  font-weight: 450;
  font-size: 1.2rem;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,0.8);
}

.mainContent {
  text-align: left;
}

.bottomLink {
  color: rgba(0,0,0,0.8);
}

.bottomLink > a {
  color: inherit;
}
