.content {
  text-align: left;
}

.header {
  margin-bottom:0.4375rem;
}

.title {
  font-size: 3.0rem;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom:0.4375rem;
}

.small {
  font-size: 70%;
  font-weight: 500;
}

.summary {
  margin-bottom: 1.75rem;
}
